<div class="row">
    <div class="col-lg-7">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Perfil de usuario</h4>
                <h6 class="card-subtitle">{{usuario.nombre}}</h6>
                <form ngNativeValidate class="form p-t-20" #f="ngForm" (ngSubmit)="guardar(f.value)">
                    <div class="form-group">
                        <label for="exampleInputuname">User Name</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input type="text" class="form-control" required name="nombre" [(ngModel)]="usuario.nombre" placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                            <input type="email" class="form-control" name="email" required [(ngModel)]="usuario.email" placeholder="Enter email" [disabled]="usuario.google == true">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                  <i class="fa fa-save"></i>
                  Guardar
                </button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-5">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Fotografia del usuario</h4>
                <div style="text-align: center;">
                    <img [src]="imagenTemporal" alt="" style="width: 150px;">
                </div>

                <br>
                <input type="file" name="" id="" (change)="seleccionarImagen($event.target.files[0])">
                <br><br>
                <button type="submit" [disabled]="!subirImagen" (click)="cambiarImagen()" class="btn btn-success waves-effect waves-light m-r-10">
                  <i class="fa fa-save"></i>
                  Guardar
                </button>

            </div>
        </div>
    </div>
</div>