<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input type="text" class="form-control" placeholder="Buscar usuario por nombre o mail..." #input (keyup)="buscarUsuario(input.value)">
            </div>
        </div>
    </div>
</div>


<div class="row animated fadeIn" *ngIf="cargando">

    <div class="col-sm-12">

        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Espere por favor</span>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Usuarios registrados ( {{totalRegistros}} )</h3>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Imagen</th>
                            <th>Correo</th>
                            <th>Nombre</th>
                            <th>Role</th>
                            <th>Auth</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let usuario of usuarios">
                            <td style="width: 70px">
                                <img [src]="usuario.img | imagen" class="img-circle" style="width: 50px">
                            </td>
                            <td>{{usuario.email}}</td>
                            <td>{{usuario.nombre}}</td>
                            <td>
                                <select [(ngModel)]="usuario.role">
                                    <option value="ADMIN_ROLE">ADMIN_ROLE</option>
                                    <option value="USER_ROLE">USER_ROLE</option>
                                </select>

                                <td>
                                    <label *ngIf="usuario.google" class="label label-danger">Google</label>
                                    <label *ngIf="!usuario.google" class="label label-info">Normal</label>
                                </td>
                                <td>
                                    <button class="btn btn-primary" (click)="guardarUsuario(usuario)"><i class="fa fa-save"></i></button>
                                    <button class="btn btn-danger" (click)="borrarUsuario(usuario)"><i class="fa fa-trash-o"></i></button>
                                </td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-secondary" (click)="cargarSiguientes(-5)">
                    Anteriores 
                  </button>

                <button class="btn btn-secondary" (click)="cargarSiguientes(5)">
                      Siguientes
                  </button>
            </div>
        </div>
    </div>
</div>