<div class="r-panel-body">
    <ul id="themecolors" class="m-t-20">
        <li><b>Con el sidebar claro</b></li>
        <li><a #link1 data-theme="default" class="selector default-theme" (click)="cambiarTema('default',link1)">1</a></li>
        <li><a #link2 data-theme="green" class="selector green-theme" (click)="cambiarTema('green',link2)">2</a></li>
        <li><a #link3 data-theme="red" class="selector red-theme" (click)="cambiarTema('red',link3)">3</a></li>
        <li><a #link4 data-theme="blue" class="selector blue-theme" (click)="cambiarTema('blue',link4)">4</a></li>
        <li><a #link5 data-theme="purple" class="selector purple-theme" (click)="cambiarTema('purple',link5)">5</a></li>
        <li><a #link6 data-theme="megna" class="selector megna-theme" (click)="cambiarTema('megna',link6)">6</a></li>

        <li class="d-block m-t-30"><b>Con el sidebar oscuro</b></li>
        <li><a #link7 data-theme="default-dark" class="selector default-dark-theme" (click)="cambiarTema('default-dark',link7)">7</a></li>
        <li><a #link8 data-theme="green-dark" class="selector green-dark-theme" (click)="cambiarTema('green-dark',link8)">8</a></li>
        <li><a #link9 data-theme="red-dark" class="selector red-dark-theme" (click)="cambiarTema('red-dark',link9)">9</a></li>
        <li><a #link10 data-theme="blue-dark" class="selector blue-dark-theme" (click)="cambiarTema('blue-dark',link10)">10</a></li>
        <li><a #link11 data-theme="purple-dark" class="selector purple-dark-theme" (click)="cambiarTema('purple-dark',link11)">11</a></li>
        <li><a #link12 data-theme="megna-dark" class="selector megna-dark-theme" (click)="cambiarTema('megna-dark',link12)">12</a></li>
    </ul>

</div>