<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input type="text" class="form-control" placeholder="Buscar hospital por nombre..." #input (keyup)="buscarHospital(input.value)">
            </div>
        </div>
    </div>
</div>


<div class="row animated fadeIn" *ngIf="cargando">

    <div class="col-sm-12">

        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Espere por favor</span>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Hospitales encontrados ( {{totalRegistros}} )</h3>
                <button class="btn btn-primary" (click)="crearHospital()"><i class="fa fa-plus" ></i>Crear hospital</button>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Foto</th>
                            <th>Hospital</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let hospital of hospitales">
                            <td style="width: 70px">
                                <img [src]="hospital.img | imagen" class="img-circle" style="width: 50px">
                            </td>

                            <td>
                                <input type="text" [(ngModel)]="hospital.nombre" class="form-control">
                                <td>
                                    <button class="btn btn-primary" (click)='actualizarHospital(hospital)'><i class="fa fa-save"></i></button>
                                    <button class="btn btn-danger" (click)='borrarHospital(hospital)'><i class="fa fa-trash-o"></i></button>
                                </td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-secondary" (click)='cargarSiguientes(-3)'>
                  Anteriores 
                </button>

                <button class="btn btn-secondary" (click)='cargarSiguientes(3)'>
                    Siguientes
                </button>
            </div>
        </div>
    </div>
</div>